.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;
  color: $clients-icons-color;
  border: 1px solid $clients-icons-color;
  border-radius: 4px;
  transition: color $transition-duration $transition-timing,
    border-color $transition-duration $transition-timing;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
