$main-color: #212121;
$second-color: #757575;
$accent-color: #2196f3;
$button-hover-color: #188ce8;
$white-text-color: #ffffff;
$footer-text-color: rgba(255, 255, 255, 0.6);
$team-social-icons-color: #afb1b8;
$clients-icons-color: #afb1b8;
$background-color: #ffffff;
$background-hero-color: #c4c4c4;
$background-icon-color: #f5f4fa;
$background-team-color: #f5f4fa;
$background-services-color: rgba(47, 48, 58, 0.8);
$background-footer-color: #2f303a;
$background-backdrop-color: rgba(0, 0, 0, 0.2);
$background-portfolio-card-color: rgba(33, 150, 243, 0.9);
$logo-header-color: #000000;
$header-border-color: #ececec;
$border-portfolio-card-color: #eeeeee;
$section-padding: 93px;
$mobile-section-padding: 60px;
$main-line-height: 1.14;
$transition-duration: 250ms;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$hero-bg-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
