.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.hero__title {
  max-width: 336px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-text-color;

  @include mobile {
    max-width: 360px;
    font-size: 26px;
  }

  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
